  <h1>マイページ</h1>
  <p><%= current_hero.last_name %> <%= current_hero.first_name %>さん</p>
  <br />
  <br />
  <% if current_hero.jobs.where(progress: 2).count == 0 %>
  <% else %>
    <p>事業者から条件が提示されているお仕事が<%= current_hero.jobs.where(progress: 2).count.to_i %>件あります!すぐに確認しましょう!</p>
    <%= link_to "確認する", jobs_index_path(2) %><br />
  <% end %>
  <% if current_hero.jobs.where(progress: 4).count == 0 %>
  <% else %>
    <p>事業者があなたの仕事ぶりを評価しました！（未確認：<%= current_hero.jobs.where(progress: 4).count.to_i %>件）</p>
    <%= link_to "確認する", jobs_index_path(4) %><br />
  <% end %>

<p>------------------------------------------------------------------</p>  

<p><%= link_to "エントリー中", jobs_index_path(1) %></p>
<p><%= link_to "労働条件通知書承認待ち", jobs_index_path(2) %></p>
<p><%= link_to "契約中", jobs_index_path(3) %></p>
<p><%= link_to "過去の経歴", jobs_index_path(5) %></p>
<p><%= link_to "募集中の仕事一覧へ", jobs_path %></p>
<p>------------------------------------------------------------------</p>

<p><%= link_to "プロフィールを確認する", "/heros/profile/#{@hero.id}" %></p>
<p><%= link_to "ログアウト", destroy_hero_session_path, method: :delete %></p>