<h2>登録情報変更</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "nursing_homes/shared/error_messages", resource: resource %>
  
  <p>------------------------------------------------------------------------------------------------------------------------</p>
  <h3>変更する情報を入力してください。</h3>
  
   <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: true, placeholder: "事業所名" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true, autocomplete: true, placeholder: "事業所住所" %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>認証前のメールアドレスです: <%= resource.unconfirmed_email %></div>
  <% end %>
  
  <div class="contact_person">
    <%= f.label :contact_person %>
    <%= f.text_field :contact_person, autofocus: true, autocomplete: "担当者名" %>
  </div>
  
  <div class="phone">
    <%= f.label :phone %>
    <%= f.text_field :phone, autofocus: true, autocomplete: "電話番号" %>
  </div>
  
  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website, autofocus: true, autocomplete: "企業サイト" %>
  </div>

  <div class="field">
    <%= f.label "新しいパスワード" %> <i>(変更しない場合は空欄のままにしてください。)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %>文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "新しいパスワード（確認）" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>（変更内容を更新するには現在のパスワードの入力が必要です)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  
  <p>------------------------------------------------------------------------------------------------------------------------</p>
  <br />
  
  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>

<br />
<%= link_to "管理ページに戻る", nursing_home_path(resource) %>
<br />
<br />

<h3>アカウントを削除する</h3>

<p><%= button_to "このアカウントを削除する", registration_path(resource_name), data: { confirm: "すべての会員情報が削除されます。よろしいですか？" }, method: :delete %></p>
