<h2>複製して発注</h2>

  <%= form_for @job, url: jobs_copied_create_path do |f| %>
    <div class="field">
      <%= f.label "お仕事名" %></br>
      <%= f.text_field :title, value: @data.title %>
    </div>
    
    <div class="field">
      <%= f.label "報酬" %></br>
      <%= f.number_field :price, value: @data.price %>
    </div>
    <div class-"field">
      <%= f.label "仕事内容" %><br/>
      <%= f.text_area :service, value: @data.service %>
    </div>
    
    <div class="field">
      <%= f.label "どんな人に受けてもらいたいか" %><br/>
      <%= f.text_field :expect, value: @data.expect %>
    </div>
    
    <div class="fiela">
      <%= f.label "仕事カテゴリ" %></br>
      <%= f.collection_select( :job_category_id, @job_categories, :id, :name, value: @data.job_category_id) %>
    </div>
    
    <div class="field">
      <%= f.label "開始時間" %></br>
      <%= f.datetime_field :start_datetime, value: @data.start_datetime %>
    </div>
    
    <div class="field">
      <%= f.label "終了時間" %></br>
      <%= f.datetime_field :end_datetime, value: @data.end_datetime %>
    </div>
    
    <%= f.hidden_field :nursing_home_id, value: @nursing_home.id %>
    <%= f.hidden_field :progress, value: 0 %>
    <%= f.hidden_field :hero_id, value: 1 %>
    
    <div class="action">
      <%= f.submit "登録" %>
    </div>
    </br>
  <% end %>

<br/>
<%= link_to "管理ページへ", nursing_home_path(current_nursing_home.id) %>
<%= link_to "仕事一覧へ", jobs_path %>