<h2>仕事発注内容編集</h2>

<%= form_for(@job) do |f| %>
  <%= f.label "お仕事名" %>
  <%= f.text_field :title %>
  </br>
  <%= f.label "報酬" %>
  <%= f.number_field :price %>
  </br>
  <%= f.label "仕事内容" %>
  <%= f.text_area :service %>
  </br>
  <%= f.label "どんな人に受けてもらいたいか" %>
  <%= f.text_field :expect %>
  </br>
  <%= f.hidden_field :nursing_home_id, value: @nursing_home.id %>
  </br>
  <%= f.label "仕事カテゴリ" %>
  <%= f.collection_select( :job_category_id, @job_categories, :id, :name) %>
  </br>
  <%= f.label "開始時間" %>
  <%= f.datetime_field :start_datetime %>
  </br>
  <%= f.label "終了時間" %>
  <%= f.datetime_field :end_datetime %>
  </br>
  <%= f.submit "修正する" %>
<% end %>
<br/>
<%= link_to "仕事一覧へ戻る", jobs_path %>