<h2>仕事発注内容編集</h2>

<%= form_for(@job) do |f| %>
  <%= f.label "業務名" %>
  <%= f.text_field :title %>
  
  <div class="field">
    <%= f.label "業務地域" %></br>
    <%= f.text_field :area %>
  </div>
    
  <div class="field">
    <% if @job.image? %>
      <div class="thumbnail">
        <%= image_tag @job.image.url %>
      </div>
    <% end %><br>
    <%= f.label "業務イメージ" %><br>
    <%= f.file_field :image %><br>
    <p><%= f.check_box :remove_image %>画像を削除する</p>
    <%= f.hidden_field :image_cache %>
  </div>
  
  <%= f.label "報酬" %>
  <%= f.number_field :price %>
  </br>
  <%= f.label "仕事内容" %>
  <%= f.text_area :service %>
  </br>
  <%= f.label "どんな人に受けてもらいたいか" %>
  <%= f.text_field :expect %>
  </br>
  <%= f.hidden_field :nursing_home_id, value: @nursing_home.id %>
  </br>
  <%= f.label "仕事カテゴリ" %>
  <%= f.collection_select( :job_category_id, @job_categories, :id, :name) %>
  </br>
  
  <div class="field">
    <%= f.label :start_datetime %></br>
    <%= f.datetime_field :start_datetime %></br>
    </br>
    <%= f.select :time, [ ["0.5", 0.5], ["1", 1], ["1.5", 1.5], ["2", 2], ["2.5", 2.5], ["3", 3], ["3.5", 3.5], ["4", 4], ["4.5", 4.5], ["5", 5], ["5.5", 5.5], ["6", 6], ["6.5", 6.5], ["7", 7], ["7.5", 7.5], ["8", 8], ["8.5", 8.5], ["9", 9], ["9.5", 9.5], ["10", 10], ["10.5", 10.5], ["11", 11], ["11.5", 11.5], ["12", 12], ["12.5", 12.5], ["13", 13], ["13.5", 13.5], ["14", 14], ["14.5", 14.5], ["15", 15], ["15.5", 15.5], ["16", 16], ["16.5", 16.5], ["17", 17], ["17.5", 17.5], ["18", 18], ["18.5", 18.5], ["19", 19], ["19.5", 19.5], ["20", 20] ] %><span>時間</span>
  </div>
  <%= f.submit "修正する" %>
<% end %>
<br/>
<%= link_to "仕事一覧へ戻る", jobs_path %>