<h2>現在、エントリーが届いているミッション</h2>

<% if nursing_home_signed_in? && @nursing_home.id == current_nursing_home.id %>
  <ul>
    <li><%= link_to "条件提示承認待ちのミッションを確認する", "/jobs/index/2/nursing_home/#{current_nursing_home.id}" %></li>
    <li><%= link_to "契約中のミッションを確認する", "/jobs/index/3/nursing_home/#{current_nursing_home.id}" %></li>
    <li><%= link_to "終了したミッションを確認する", "/jobs/index/5/nursing_home/#{current_nursing_home.id}" %></li>
  </ul>
<% end %>

<% if @count == 0 %>
  <p>現在、エントリーが届いているミッションはありません。</p>
  <%= link_to "お仕事を探す!", jobs_path %>
<% else %>
  <% @jobs.each do |job| %>
    <p>--------------------------------------------------------------------------------</p>
  
    <p>お仕事名:<%= job.title %></p>
    
    <p>お仕事カテゴリ:<%= job.job_category.name %></p>
    
    <p>エントリー:<%= link_to "#{job.hero.last_name} #{job.hero.first_name}", hero_path(job.hero_id) %></p>
    
    <p>報酬額:<%= job.price %>円</p>
    
    <p>開始時間:<%= job.start_datetime %></p>
    
    <p>終了時間:<%= job.end_datetime %></p>
    
    <%= link_to "ミッションの詳細を見る", job_path(job.id) %>
  
    <p>--------------------------------------------------------------------------------</p>
  <% end %>
<% end %>
<br />
<br />
<% if hero_signed_in? %>
  <%= link_to "マイページへ戻る", hero_path(current_hero.id) %>
<% elsif nursing_home_signed_in? %>
  <%= link_to "管理ページへ戻る", nursing_home_path(current_nursing_home.id) %>
<% end %>


<p><%= link_to "トップへ戻る", root_path %></p>