<%= render partial: 'layouts/header' %>

<!--タイトル画像表示-->
<main class="style-main mb-5">
  <section class="container-fluid">
    <div class="row">
      <%= render partial: "layouts/sidebar" %>
      <div class="col-lg-9">
        <ol class="breadcrumb style-ma-thigh">
          <li>
            <%= link_to hero_path(current_hero.id) do %>
              <em class="fa fa-home"></em>
            <% end %>
          </li>
          <li class="">
            <% if @progress == 1 %>
              /応募中ミッション
            <% elsif @progress == 2 %>
              /契約処理待ちミッション
            <% elsif @progress == 3 %>
              /実施中ミッション
            <% elsif @progress == 4 %>
              /完了ミッション
            <% elsif @progress == 5 %>
              /ミッション履歴
            <% end %>
          </li>
        </ol>
        <div class="row">
          <div class="col-lg-12 mt-5">
            <ul class="nav">
              <li class="nav-item style-boder style-lightredback">
                <%= link_to "応募中", jobs_index_path(1), class: "nav-link style-text-white" %>
              </li>
              <li class="nav-item style-boder">
                <%= link_to "契約待ち", jobs_index_path(2), class: "nav-link style-text-black" %>
              </li>
              <li class="nav-item style-boder">
                <%= link_to "実施中", jobs_index_path(3), class: "nav-link style-text-black" %>
              </li>
              <li class="nav-item style-boder">
                <%= link_to "完了", jobs_index_path(4), class: "nav-link style-text-black" %>
              </li>
            </ul>
            <div class="">
              <div class="style-boder">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12">
                      <ul class="style-mypage-list">
                        <% if @jobs.present? %>
                          <% @jobs.each do |job| %>
                            <li class="style-smunderbar mb-3">
                              <div class="row">
                                <figure class="col-lg-2 col-4">
                                  <%= link_to job_path(job.id) do %>
                                    <% if job.image? %>
                                      <%= image_tag job.image.url(:thumb), width: "100px", height: "100px", alt: "お仕事画像", class: "style-mypage-workimg" %>
                                    <% else %>
                                      <img src="/assets/character/Lion-Icon.png" width="100px" height="100px" alt="お仕事画像" class="style-mypage-workimg">
                                    <% end %>
                                  <% end %>
                                </figure>
                                <div class="col-lg-6 col-8">
                                  <%= link_to job_path(job.id), class: "style-text-black" do %>
                                      <h2 class="card-title style-text-bold"><%= job.title %></h2>
                                      <ul class="style-ftlist">
                                        <li class=""><i class="fas fa-calendar-alt style-work-icon"></i><span>&nbsp;<%= shape_job_date(job.start_datetime) %></span></li>
                                        <li class=""><i class="far fa-clock style-work-icon"></i><span>&nbsp;<%= shape_job_start_time(job.start_datetime) %>~<%= shape_job_end_time(job.start_datetime + (job.time * 3600)) %></span></li>
                                      </ul>
                                  <% end %>
                                </div>
                                <div class="col-lg-4">
                                  <% if @progress == 2 %>
                                    <div class="style-mypage-confirmbtn">
                                      <p class="style-text-red">労働契約書確認要</p>
                                    </div>
                                  <% elsif @progress == 4 %>
                                    <div class="style-mypage-confirmbtn">
                                      <p class="style-text-red">レビュー確認要</p>
                                    </div>
                                  <% end %>
                                  <div class="chat-btn">
                                    <a href="./../heros/chat-heros.html">
                                      <button class="mb-3 style-mypage-workbtn">チャット画面へ</button>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </li>
                          <% end %>
                        <% else %>
                          <li class="style-smunderbar mb-3">
                            <div class="row">
                              <figure class="col-lg-2 col-4">
                                <img src="/assets/character/Lion-Icon.png" width="100px" height="100px" alt="お仕事画像" class="style-mypage-workimg">
                              </figure>
                              <div class="col-lg-6 col-8">
                                該当するミッションはありません。
                              </div>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="sidebar-collapse" class="col-12 sidebar style-ma-tlow d-lg-none d-block">
        <ul class="nav style-dblock">
          <li class="style-smunderbar">
            <a href="./../heros/show.html" class="style-mypage-listitem">
              マイページ
              <i class="fas fa-chevron-right style-mypage-navicon"></i>
            </a>
          </li>
          <li class="style-smunderbar">
            <a href="./../heros/show.html" class="style-mypage-listitem">
              お知らせ
              <i class="fas fa-chevron-right style-mypage-navicon"></i>
            </a>
          </li>
          <li class="style-smunderbar">
            <a href="./../heros/show.html" class="style-mypage-listitem">
              やることリスト
              <i class="fas fa-chevron-right style-mypage-navicon"></i>
            </a>
          </li>
          <li class="style-smunderbar">
            <a href="./../heros/chat-heros.html" class="style-mypage-listitem">
              チャット画面
              <i class="fas fa-chevron-right style-mypage-navicon"></i>
            </a>
          </li>
          <li class="style-smunderbar style-lightblueback">
            <a href="#" class="style-mypage-listitem">
              応募中ミッション
              <i class="fas fa-chevron-right style-mypage-navicon"></i>
            </a>
          </li>
          <li class="style-smunderbar">
            <a href="./index_2_hero.html" class="style-mypage-listitem">
              契約処理待ちミッション
              <i class="fas fa-chevron-right style-mypage-navicon"></i>
            </a>
          </li>
          <li class="style-smunderbar">
            <a href="./index_3_hero.html" class="style-mypage-listitem">
              実施中ミッション
              <i class="fas fa-chevron-right style-mypage-navicon"></i>
            </a>
          </li>
          <li class="style-smunderbar">
            <a href="./index_4_hero.html" class="style-mypage-listitem">
              完了ミッション
              <i class="fas fa-chevron-right style-mypage-navicon"></i>
            </a>
          </li>
          <li class="style-smunderbar">
            <a href="./index_5_hero.html" class="style-mypage-listitem">
              ミッション履歴
              <i class="fas fa-chevron-right style-mypage-navicon"></i>
            </a>
          </li>
        </ul>
        <p class="style-text-bold mt-4">設定</p>
        <ul class="nav style-dblock">
          <li class="style-smunderbar">
            <a href="./../heros/registrations/edit.html" class="style-mypage-listitem">
              プロフィール・パスワード変更
              <i class="fas fa-chevron-right style-mypage-navicon"></i>
            </a>
          </li>
          <li class="style-smunderbar">
            <a href="./../heros/registrations/confirmation.html" class="style-mypage-listitem">
              ミッション必要書類提出
              <i class="fas fa-chevron-right style-mypage-navicon"></i>
            </a>
          <li class="style-smunderbar">
            <a href="#" class="style-mypage-listitem">
              残高・振込確認
              <i class="fas fa-chevron-right style-mypage-navicon"></i>
            </a>
          </li>
          <li class="style-smunderbar">
            <p class="style-mypage-listitem" onclick="LogoutFormHeros()">ログアウト
            <i class="fas fa-chevron-right style-mypage-navicon"></i>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section id="Logout-Form-Heros" class="fixed-top style-alert-form">
    <p>ログアウトしてよろしいでしょうか？</p>
    <button class="mr-3" onclick="LogoutHerosYes()">はい</button>
    <button onclick="LogoutHerosNo()">いいえ</button>
  </section>
</main>