<h2>事業者が業務完了を確認した仕事</h2>

<% if hero_signed_in? && @hero.id == current_hero.id %>
  <ul>
    <li><%= link_to "エントリーしている仕事を見る", "/jobs/index/1/hero/#{current_hero.id}" %></li>
    <li><%= link_to "条件提示承認待ちの仕事を見る", "/jobs/index/2/hero/#{current_hero.id}" %></li>
    <li><%= link_to "受注している仕事見る", "/jobs/index/3/hero/#{current_hero.id}" %></li>
  </ul>
<% end %>

<% if @count == 0 %>
  <p>業務完了確認待ちの仕事はありません。</p>
  <%= link_to "お仕事を探す!", jobs_path %>
<% else %>
  <p>業務完了が承認された仕事があります。内容を確認しましよう!</p>
  <% @jobs.each do |job| %>
    <p>--------------------------------------------------------------------------------</p>
  
    <p>お仕事名:<%= job.title %></p>
    
    <p>お仕事カテゴリ:<%= job.job_category.name %></p>
    
    <p>発注者:<%= job.nursing_home.id %></p>
    
    <p>報酬額:<%= job.price %>円</p>
    
    <p>開始時間:<%= job.start_datetime %></p>
    
    <p>終了時間:<%= job.end_datetime %></p>
    
    <%= link_to "仕事の詳細を見て、業務を完了させる", job_path(job.id) %>
  
    <p>--------------------------------------------------------------------------------</p>
  <% end %>
<% end %>
<br />
<br />
<% if hero_signed_in? %>
  <%= link_to "マイページへ戻る", hero_path(current_hero.id) %>
<% elsif nursing_home_signed_in? %>
  <%= link_to "管理ページへ戻る", nursing_home_path(current_nursing_home.id) %>
<% end %>


<p><%= link_to "トップへ戻る", root_path %></p>