<h2>労働条件通知書を提示しているミッション</h2>

<% if nursing_home_signed_in? && @nursing_home.id == current_nursing_home.id %>
  <ul>
    <li><%= link_to "エントリーの届いているミッションを見る", "/jobs/index/1/nursing_home/#{current_nursing_home.id}" %></li>
    <li><%= link_to "遂行待ちのミッションを見る", "/jobs/index/3/nursing_home/#{current_nusring_home.id}" %></li>
    <li><%= link_to "完了した仕事を見る", "/jobs/index/5/nursing_home/#{current_nursing_home.id}" %></li>
  </ul>
<% end %>

<% if @count == 0 %>
  <p>現在、ヒーローに条件を提示しているミッションはありません。</p>
  <%= link_to "発注されているミッションリスト", jobs_path %>
<% else %>
  <% @jobs.each do |job| %>
    <p>--------------------------------------------------------------------------------</p>
  
    <p>ミッション名:<%= job.title %></p>
    
    <p>ミッションカテゴリ:<%= job.job_category.name %></p>
    
    <p>受注者:<%= link_to "#{job.hero.last_name} #{job.hero.first_name}", hero_path(job.hero_id) %></p>
    
    <p>報酬額:<%= job.price %>円</p>
    
    <p>開始時間:<%= job.start_datetime %></p>
    
    <p>終了時間:<%= job.end_datetime %></p>
    
    <%= link_to "仕事の詳細を見る", job_path(job.id) %>
  
    <p>--------------------------------------------------------------------------------</p>
  <% end %>
<% end %>
<br />
<br />
<% if hero_signed_in? %>
  <%= link_to "マイページへ戻る", hero_path(current_hero.id) %>
<% elsif nursing_home_signed_in? %>
  <%= link_to "管理ページへ戻る", nursing_home_path(current_nursing_home.id) %>
<% end %>


<p><%= link_to "トップへ戻る", root_path %></p>