<% if @progress == 1 %>
  <% if hero_signed_in? %>
    <h2>エントリー中</h2>
  <% elsif nursing_home_signed_in? %>
    <h2>エントリーのある仕事</h2>
  <% end %>
<% elsif @progress == 2 %>
  <% if hero_signed_in? %>
    <h2>労働条件提示書 承認待ち</h2>
  <% elsif nursing_home_signed_in? %>
    <h2>労働条件提示中</h2>
  <% end %>
<% elsif @progress == 3 %>
  <h2>契約中</h2>
<% elsif @progress == 4 %>
  <% if nursing_home_signed_in? %>
    <h2>完了した仕事</h2>
  <% elsif hero_signed_in? %>
    <h2>完了したミッション</h2>
  <% end %>
<% elsif @progress == 5 %>
  <% if nursing_home_signed_in? %>
    <h2>過去発注した仕事</h2>
  <% elsif hero_signed_in? %>
    <h2>過去の経歴</h2>
  <% end %>
<% end %>

<% @jobs.each do |job| %>
  <p>--------------------------------------------------------------------------------</p>

  

  <p>仕事名:<%= job.title %></p>
  
  <p>カテゴリ:<%= job.job_category.name %></p>
  
  <% if hero_signed_in? %>
    <p>発注者:<%= link_to "#{job.nursing_home.name}", "/nursing_homes/profile/#{job.nursing_home_id}" %></p>
  <% elsif nursing_home_signed_in? %>
    <% if @progress <= 2 %>
      <p>エントリー：<%= link_to "#{job.hero.last_name} #{job.hero.first_name}", "/hero/profile/#{job.hero_id}" %></p>
    <% elsif @progress >= 3 %>
      <p>契約者：<%= link_to "#{job.hero.last_name} #{job.hero.first_name}", "/hero/profile/#{job.hero_id}" %></p>
    <% end %>
  <% end %>
  <p>報酬額:<%= job.price %>円</p>
  
  <p>開始時間:<%= job.start_datetime %></p>
  
  <% if nursing_home_signed_in? %>
    <% if @progress == 1 %>
      <p><%= link_to "承認", "/jobs/entry_confirm_complete/#{job.id}" %></p>
      <p><%= link_to "却下", "/jobs/entry_rejection/#{job.id}" %></p>
    <% elsif @progress == 3 %>
      <p><%= link_to "評価入力", new_job_review(job.id) %></p>
    <% end %>
  <% elsif hero_signed_in? %>
    <% if @progress == 1 %>
      <p><%= link_to "取り下げ", "/jobs/entry_cancel/#{job.id}" %></p>
    <% elsif @progress == 2 %>
      <p><%= link_to "労働条件提示書確認", "/jobs/condition_confirm/#{job.id}" %></p>
    <% end %>
  <% end %>
  <%= link_to "詳細", job_path(job.id) %><br />
  
  <% if nursing_home_signed_in? && job.nursing_home_id == current_nursing_home.id %>
    <%= link_to "編集",  edit_job_path(job.id) %><br />
    <%= link_to "仕事を取り下げる", job_path(job.id), method: :delete %><br />
    <%= link_to "この仕事をコピー", jobs_copied_new_path(job.id) %><br />
  <% end %>
  <p>--------------------------------------------------------------------------------</p>
<% end %>

<% if hero_signed_in? %>
  <%= link_to "マイページへ戻る", hero_path(current_hero.id) %>
<% elsif nursing_home_signed_in? %>
  <%= link_to "管理ページへ戻る", nursing_home_path(current_nursing_home.id) %>
<% end %>


<p><%= link_to "トップへ戻る", root_path %></p>