<h2>お仕事完了後に入力してください。</h2>
    <%= link_to "完了確認", "/jobs/order_close_complete/#{@job.id}" %>
    <br/>
    <%= link_to "完遂されなかった", "/jobs/order_rejection/#{@job.id}" %>
    <br/>
    <%= link_to "仕事詳細に戻る", job_path(@job.id) %>
  <br/>
  <h3>発注内容</h3>
    <p>----------------------------------------------------------</p>
    <p>エントリーしているヒーロー：<%= @job.hero.id %></p>
    
    <p>お仕事名:<%= @job.title %></p>
    
    <p>お仕事カテゴリ:<%= @job.job_category.name %></p>
    
    <p>発注者:<%= @job.nursing_home.id %></p>
    
    <p>報酬額:<%= @job.price %> 円</p>
    
    <p>仕事内容:<%= @job.service %></p>
    
    <p>どんな人に受けてほしいか:<%= @job.expect %></p>
    
    <p>クライアント名:<%= link_to @job.client.name, client_path(@job.client.id) %></p>
    
    <p>開始時間:<%= @job.start_datetime %></p>
    
    <p>終了時間:<%= @job.end_datetime %></p>
    <p>----------------------------------------------------------</p>
  
  