<% if nursing_home_signed_in? %>
  <h2>業務詳細</h2>
<% else %>
  <h2>ミッション詳細</h2>
<% end %>

<% if hero_signed_in? && @job.hero_id == current_hero.id && @progress >= 4 %>
  <h4>あなたへの評価</h4>
  <p>れいぎ    ：<%= @job.behavior %></p>
  <p>あかるさ  ：<%= @job.smile %></p>
  <p>せいけつさ：<%= @job.cleanliness %></p>
  <p>ていねいさ：<%= @job.politeness %></p>
  <p>たいりょく：<%= @job.physical %></p>
<% end %>

<% if nursing_home_signed_in? %>
  <% if @job.nursing_home_id == current_nursing_home.id %>
    <p>-----------------------------------------------------</p>
    <p>《発注状況》</p>
    <% if @progress == 0 %>
      <p>現在、エントリーしている人はいません。</p>
    <% elsif @progress == 1 %>
      <%= link_to "エントリーがあります。確認してください。", "/jobs/entry_confirm/#{@job.id}" %>
    <% elsif @progress == 2 %>
      <p>発注済み、条件提示書の承認待ちです。</p>
    <% elsif @progress == 3 %>
      <p>契約成立済、業務遂行待ちです。</p>
      <p>※業務の完了を確認したら、ヘルパーの評価を入力してください。</p>
      <%= link_to "ヘルパー評価へ", new_job_review_path(params[:id]) %>
    <% elsif @progress == 4 %>
      <p>業務完了済</p>
    <% end %>
    <p>-----------------------------------------------------</p>
  <% end %>
<% end %>

  <p>お仕事名:<%= @job.title %></p>
  
  <p>お仕事カテゴリ:<%= @job.job_category.name %></p>
  
  <p>発注者:<%= link_to "#{@job.nursing_home.name}", nursing_home_path(@job.nursing_home_id) %></p>
  
  <p>報酬額:<%= @job.price %> 円</p>
  
  <p>仕事内容:<%= @job.service %></p>
  
  <p>どんな人に受けてほしいか:<%= @job.expect %></p>
  
  <p>開始時間:<%= @job.start_datetime %></p>
  
  <% if hero_signed_in? %>
    <p>-----------------------------------------------------</p>
    <h4>受注状況</h4>
    <% if @progress == 5 %>
      <p>このミッションは完了しました。</p>
    <% else %>
      <% if @progress == 0 %>
        <%= link_to "この仕事にエントリーする", "/jobs/entry/#{@job.id}" %>
      <% elsif @progress == 1 %>
        <p>このミッションはすでにエントリーされています。</p>
        <% if @job.hero_id == current_hero.id %>
          <p>※このミッションはあなたがエントリーしています。※</p>
          <%= link_to "エントリーをキャンセルする", "/jobs/entry_cancel/#{@job.id}" %>
        <% end %>
      <% elsif @progress == 2 %>
        <p>このミッションは契約手続き中です。</p>
        <% if @job.hero_id == current_hero.id %>
          <%= link_to "事業者から労働条件提示書が送付されています。確認してください。", "/jobs/condition_confirm/#{@job.id}" %>
        <% end %>
      <% elsif @progress == 3 %>
        <p>このミッションは他の方が契約中です。</p>
        <% if @job.hero_id == current_hero.id %>
          <p>※このミッションはあなたが受注しています。※</p>
        <% end %>
      <% elsif @progress >= 4 %>
        <p>このミッションは完了しました!お疲れさまでした！</p>
      <% end %>
    <% end %>
    <p>-----------------------------------------------------</p>
  <% elsif nursing_home_signed_in? %>
    <% if @job.nursing_home_id == current_nursing_home.id %>
      <% if @progress < 4 %>
        <%= link_to "仕事内容を編集する", edit_job_path(@job.id) %>
        <br/>
        <%= link_to "この仕事を取り下げる", job_path(@job.id), method: :delete %>
      <% end %>
    <% else %>
      
    <% end %>
  <% end %>
  
  <br/>
  <%= link_to "仕事一覧へ", jobs_path %>
  <br/>
  <% if hero_signed_in? %>
    <%= link_to "マイページへ", hero_path(current_hero.id) %>
  <% elsif nursing_home_signed_in? %>
    <%= link_to "管理ページへ", nursing_home_path(current_nursing_home.id) %>
  <% end %>
  <br/>
  <%= link_to "ホームへ戻る", root_path %>