<header>
  <div class="header--logo">
    <img src="/assets/Heros-Logo.png" alt="ヒーローズロゴ画像" />
  </div>
  <nav>
    <ul class="header--nav">
      <li><%= link_to "事業所新規登録", new_nursing_home_registration_path, class: "officebtn" %></li>
      <li><%= link_to "事業所ログイン", new_nursing_home_session_path, class: "officebtn-login" %></li>
      <li><%= link_to "ヒーロー新規登録", heros_rules_path, class: "herobtn" %></li>
      <li><%= link_to "ヒーローログイン", new_hero_session_path, class: "herobtn-login" %></li>
    </ul>
    <div class="header--hunger--toggle">
      <i class="fas fa-bars"></i>
      <i class="fas fa-times dnone"></i>
    </div>
  </nav>
</header>
<main>
  <article class="top-container">
    <section class="top-title">
      <h1>いますぐ、ヒーローになろう</h1>
      <p>少しの時間で参加できる。『好き』を自己成長の力に。</p>
      <div class="top-title__box">
        <div class="top-title__box__contents">
          <img src="/assets/top/Lion-Icon.png" alt="事業所アイコン" />
          <div class="top-title__box__contents--btn">
            <%= link_to "事業所さんはこちら", new_nursing_home_registration_path, class: "officebtn" %>
            <%= link_to "ログイン", new_nursing_home_session_path, class: "officebtn-login" %>
          </div>
        </div>
        <div class="top-title__box__contents">
          <img src="/assets/top/Rabbit-Icon.png" alt="ヒーローズアイコン" />
          <div class="top-title__box__contents--btn">
            <%= link_to "ヒーローズ新規登録", new_hero_registration_path, class: "herobtn" %>
            <%= link_to "ログイン", new_hero_session_path, class: "herobtn-login" %>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h2 class="section-title">
        <span class="section-title__icon"><i class="fas fa-user-plus" aria-hidden="true"></i></span>ミッション紹介
      </h2>
      <div class="workbox-group">
        <%= render partial: 'layouts/job_cards', locals: { jobs: @jobs } %>
      </div>
    </section>
    <section>
      <h2 class="section-title">
        <span class="section-title__icon"><i class="fas fa-users"></i></span>ハロヒロとは
      </h2>
      <div class="about-harohero">
        <div class="about-harohero__img">
          <img
            src="/assets/top/Comic-Sigotogaaru1.png"
            alt="ハロヒロについて漫画その１" />
          <img
            src="/assets/top/Comic-Sigotogaaru2.png"
            alt="ハロヒロについて漫画その２" />
        </div>
        <p>
          「ハロヒロ」とは、すきま時間を活用して働きたい、スキルをシェアしたい、という方々と<br />
          人手を必要としている介護施設を マッチングするサービス です。<br />
          「私も何か人に喜ばれることがしたい」<br />
          「でも、何をしたらいいのかわからない」<br />
          そんな風に思っていませんか？<br />
          実は、介護施設では「介護」以外のミッションもたくさんあり、それをすべて介護職員さんが行っています。<br />
          お話相手や食事の準備、お掃除、IT業務…。<br />
          専門的な知識がなくても出来る、ほんの少しのお手伝いで、大きな笑顔が生まれる事はたくさんあるのです。<br />
          あなた の温かい気持ちとスキル、介護施設で活かしてみませんか？
        </p>
      </div>
    </section>
  </article>
  <div class="header--hunger__contents">
    <ul>
      <li><a href="#">事業所新規登録</a></li>
      <li><a href="#">事業所ログイン</a></li>
      <li><a href="#">ヒーロー新規登録</a></li>
      <li><a href="#">ヒーローログイン</a></li>
    </ul>
  </div>
</main>