<main class="style-main">
  <section class="container-fluid style-login-back">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6">
        <div class="style-nav style-smnav-line">
          <%= link_to root_path do %>
            <img class="" src="/assets/Heros-Logo.png" alt="ハロヒロロゴ画像" height="40px" width="134px">
          <% end %>
        </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <h1 class="style-centertext style-lightbeigeback my-4">★事業所さんログイン画面★</h1>
            <!--外部ログイン実装まで外す-->
            <!--<div class="style-centertext mb-5">-->
            <!--  <a href="./../../jobs/index.html">-->
            <!--    <div class="style-btn-social style-btn-line mx-auto mb-4">-->
            <!--      <i class="style-btn-lineicon"></i>-->
            <!--      <p class="style-btn-text">LINEでログイン</p>-->
            <!--    </div>-->
            <!--  </a>-->
            <!--</div>-->
  
            <!-- form_forメソッドで、入力された内容をDBに送信する-->
            <!--メールアドレスの入力フォーム-->
            <div class="style-centertext">
              <h2 class="style-midtext"><i class="far fa-envelope"></i>メールアドレスでログイン</h2>
            </div>
            <div class="style-boder  style-centertext mb-4">
              <div class="form-group">
                <%= f.label :email, class: "" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: true, placeholder: "例:example@example.com", class: "style-inputtab my-2" %>
              </div>
              <div class="form-group">
                <%= f.label :password, class: "" %><br />
                <%= f.password_field :password, autocomplete: true, placeholder: "パスワード", class: "style-inputtab" %>
              </div>
              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>
              <div class="style-centertext my-4">
                <%= f.submit "ログイン", class: "style-boder-smallradius style-login-btn" %>
              </div>
            </div>
            </p>
            <div class="my-1">
              <%= render "nursing_homes/shared/links" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
  </section>
</main>

<script>
  var nua = navigator.userAgent;
  var is_android = ((nua.indexOf('Mozilla/5.0') > -1 && nua.indexOf('Android ') > -1 && nua.indexOf('AppleWebKit') > -1) && !(nua.indexOf('Chrome') > -1));
  if (is_android) { $('select.form-control').removeClass('form-control').css('width', '100%'); }
</script>

<!-- オプションのJavaScript -->
<!-- 最初にjQuery、次にPopper.js、次にBootstrap JS -->
<script src="https://kit.fontawesome.com/de95f90de5.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>