  <h3><%= @nursing_home.name %>様 登録情報</h3>
  <br />
  <br />
  <p>-----------------------------------------------------------------------------------</p>
  <p>メールアドレス：<%= @nursing_home.email %></p>
  <p>住所：
    <% if @nursing_home.address? %>
      <%= @nursing_home.address %>
    <% else %>
      <span>未設定</span>
    <% end %>
  </p>
  <p>ウェブサイト:
    <% if @nursing_home.website? %>
      <%= link_to "#{@nursing_home.website}", "#{@nursing_home.website}", target: :_blank, rel: "noopener noreferrer" %>
    <% else %>
      <span>未設定</span>
    <% end %>
  </p>
  <p>連絡先（電話番号）：
    <% if @nursing_home.phone? %>
      <%= @nursing_home.phone %>
    <% else %>
      <span>未設定</span>
    <% end %>
  </p>
  <p>連絡担当者:
    <% if @nursing_home.contact_person? %>
      <%= @nursing_home.contact_person %>
    <% else %>
      <span>未設定</span>
    <% end %>
  </p>
  <p>-----------------------------------------------------------------------------------</p>
  
<br />
<br />
<br />
  
  <% if nursing_home_signed_in? %>
    <% if @nursing_home.id == current_nursing_home.id %>
    <p><%= link_to "登録情報を編集する", edit_nursing_home_registration_path(current_nursing_home.id) %></p>
    <p><%= link_to "管理画面へ戻る", nursing_home_path(current_nursing_home.id) %></p>
    <% end %>
  <% end %>
  <p><%= link_to "トップへ戻る", root_path %></p>