<%= render partial: 'layouts/header' %>

<main>
  <article class="top-container">
    <section class="top-title nursing_homes-top">
      <h1>ハロヒロにようこそ</h1>
      <div class="nursing_homes-top__contents">
        <p>
          ご利用ありがとうございます。あなたの職場にヒーローを要請してください。
        </p>
        <img
          src="/assets/character/Lion-Guts-Coment.jpg"
          alt="事業所さんトップページ画像"
        />
      </div>
    </section>
    <section class="nursing_homes-top--info">
      <h2 class="section-title">
        <span class="section-title__icon"
          ><i class="fas fa-home" aria-hidden="true"></i></span
        >事業所情報
      </h2>
      <div class="nursing_homes-top--info--major">
        <img
          src="/assets/character/Lion-Stand.jpg"
          alt="事業所画像"
        />
        <div class="nursing_homes-top--info--text">
          <h3>事業所名</h3>
          <p><%= @nursing_home.name %></p>
          <h3>事務所種別</h3>
          <p>訪問看護ステーション</p>
          <h3>担当者</h3>
          <p><%= @nursing_home.contact_person %></p>
        </div>
        <div class="nursing_homes-top--info--text">
          <h3>電話番号</h3>
          <p><%= @nursing_home.phone %></p>
          <h3>住所</h3>
          <p><%= @nursing_home.address %></p>
          <h3>アクセス情報</h3>
          <p>新宿駅より徒歩１５分 タバコ屋の近くにあります</p>
        </div>
      </div>
      <h3>事業所情報</h3>
      <p>
        <%= @nursing_home.detail %>
      </p>
      <h3>事業所番号（指定番号）</h3>
      <p>1234-567890-1</p>
    </section>
    <section>
      <h2 class="section-title">
        <span class="section-title__icon"
          ><i class="fas fa-user-plus" aria-hidden="true"></i></span
        >お仕事登録方法
      </h2>
      <div class="nursing_homes-top__work">
        <h3>やり方は、お仕事を登録してヘルパーさんの応募を待つだけ!</h3>
        <div class="nursing_homes-top__work--contents">
          <div class="nursing_homes-top__work--contents__box">
            <h4>○お仕事を登録</h4>
            <img
              src="/assets/character/Lion-Stand.jpg"
              alt="お仕事依頼画像"
            />
            <p>登録画面からお仕事を簡単に依頼できます</p>
          </div>
          <div class="nursing_homes-top__work--contents__box">
            <h4>○ヒーロー（ヘルパーさん）を待つ</h4>
            <img
              src="/assets/character/Rabbit-Phone.jpg"
              alt="ヘルパーさん応募"
            />
            <p>ヒーローへの積極的なアプローチもお任せ！</p>
          </div>
          <div class="nursing_homes-top__work--contents__box">
            <h4>○ヒーローと契約</h4>
            <img
              src="/assets/character/Lion-Guts.jpg"
              alt="契約完了画像"
            />
            <p>ヒーローがあなたのお仕事を助けてくれます</p>
          </div>
        </div>
      </div>
      <div class="nursing_homes-top__work--submit">
        <p>↓お仕事の依頼はこちらから↓</p>
        <%= link_to new_job_path do %>
          <button class="submit-btn">
            <i class="fas fa-pen"></i>
            <p>お仕事を登録する</p>
          </button>
        <% end %>
      </div>
    </section>
  </article>
</main>