<p><%= @nursing_home.name %> 様 管理画面</p>

<% if nursing_home_signed_in? && @nursing_home.id == current_nursing_home.id %>
  <p><%= link_to "仕事カテゴリを登録する", new_job_category_path %></p>
  <p><%= link_to "仕事を発注する", new_job_path %></p>
  <p><%= link_to "登録情報を変更する",  edit_nursing_home_registration_path(current_nursing_home.id) %></p>
  <br />
  <% if current_nursing_home.jobs.where(progress: 1).count == 0 %>
  <% else %>
    <p>エントリーされた仕事が<%= current_nursing_home.jobs.where(progress: 1).count.to_i %>件あります!すぐに確認しましょう!</p>
    <%= link_to "確認する", jobs_index_path(1) %><br />
  <% end %>
  <% if current_nursing_home.jobs.where(progress: 3).count == 0 %>
  <% else %>
    <p>ヒーローの遂行待ちミッションが<%= current_nursing_home.jobs.where(progress: 3).count.to_i %>件あります！完了を確認したら評価を行ってください！）</p>
    <%= link_to "評価する", jobs_index_path(3) %><br />
  <% end %>
<% end %>

<% if nursing_home_signed_in? && @nursing_home.id == current_nursing_home.id %>
  <p><%= link_to "募集している仕事", jobs_ordered_index_path %></p>
  <p><%= link_to "エントリーされた仕事", jobs_index_path(1) %></p>
  <p><%= link_to "労働条件通知書承認待ち", jobs_index_path(2) %></p>
  <p><%= link_to "契約中", jobs_index_path(3) %></p>
  <p><%= link_to "レビュー済み", jobs_index_path(4) %></p>
  <p><%= link_to "過去の仕事", jobs_index_path(5) %></p>
<% end %>

<p><%= link_to "事業所プロフィールへ", "/nursing_homes/profile/#{current_nursing_home.id}" %></p>
<p><%= link_to "仕事一覧", jobs_path %></p>
<p><%= link_to "ログアウト", destroy_nursing_home_session_path, method: :delete %></p>