<h1>レビュー投稿画面</h1>

<h2>発注したミッション</h2>

<p>---------------------------------------------------------------</p>
  <p>ミッション名:<%= @job.title %></p>
  
  <p>ミッションカテゴリ:<%= @job.job_category.name %></p>
  
  <p>受注者:<%= link_to "#{@job.hero.last_name} #{@job.hero.first_name}", hero_path(@job.hero.id) %>さん</p>
  
  <p>報酬額:<%= @job.price %> 円</p>
  
  <p>仕事内容:<%= @job.service %></p>
  
  <p>どんな人に受けてほしいか:<%= @job.expect %></p>
  
  <p>開始時間:<%= @job.start_datetime %></p>
  
  <p>終了時間:<%= @job.end_datetime %></p>

<p>---------------------------------------------------------------</p>

<h2><%= @job.hero.last_name %> <%= @job.hero.first_name %>さんの活躍を評価しましょう！</h2>

<%= form_for [@job, @review] do |f| %>
  <div class="field">
    <%= f.label "れいぎ" %><br />
    <%= f.radio_button :behavior, 0 %>--<%= f.radio_button :behavior, 1 %>--<%= f.radio_button :behavior, 2 %>--<%= f.radio_button :behavior, 3 %>--<%= f.radio_button :behavior, 4 %>--<%= f.radio_button :behavior, 5 %><br />
    0--1--2--3--4--5<br />
  </div>
  
  <div class="field">
    <%= f.label "あかるさ" %><br />
    <%= f.radio_button :smile, 0 %>--<%= f.radio_button :smile, 1 %>--<%= f.radio_button :smile, 2 %>--<%= f.radio_button :smile, 3 %>--<%= f.radio_button :smile, 4 %>--<%= f.radio_button :smile, 5 %><br />
    0--1--2--3--4--5<br />
  </div>
  
  <div class="field">
    <%= f.label "せいけつさ" %><br />
    <%= f.radio_button :cleanliness, 0 %>--<%= f.radio_button :cleanliness, 1 %>--<%= f.radio_button :cleanliness, 2 %>--<%= f.radio_button :cleanliness, 3 %>--<%= f.radio_button :cleanliness, 4 %>--<%= f.radio_button :cleanliness, 5 %><br />
    0--1--2--3--4--5<br />
  </div>
  
  <div class="field">
    <%= f.label "ていねいさ" %><br />
    <%= f.radio_button :politeness, 0 %>--<%= f.radio_button :politeness, 1 %>--<%= f.radio_button :politeness, 2 %>--<%= f.radio_button :politeness, 3 %>--<%= f.radio_button :politeness, 4 %>--<%= f.radio_button :politeness, 5 %><br />
    0--1--2--3--4--5<br />
  </div>
  
  <div class="field">
    <%= f.label "たいりょく" %><br />
    <%= f.radio_button :physical, 0 %>--<%= f.radio_button :physical, 1 %>--<%= f.radio_button :physical, 2 %>--<%= f.radio_button :physical, 3 %>--<%= f.radio_button :physical, 4 %>--<%= f.radio_button :physical, 5 %><br />
    0--1--2--3--4--5<br />
  </div>
  
  <div class="field">
    <%= f.label "#{@job.hero.last_name} #{@job.hero.first_name}さんへ感謝の言葉を贈りましょう！" %><br />
    <%= f.text_area :text, autofocus: true, autocomplete: "お礼の言葉を贈りましょう！" %>
  </div>
  
  <%= f.hidden_field :nursing_home_id, value: @job.nursing_home_id %>
  <%= f.hidden_field :hero_id, value: @job.hero_id %>
  <%= f.hidden_field :job_id, value: @job.id %>
  
  <br />
  <%= f.submit "#{@job.hero.last_name} #{@job.hero.first_name}さんへ送る" %>
  
<% end %>