<!--トップページ以外の-->
<header class="wide-header">
  <div class="header--logo">
    <a href="#">
      <img src="/assets/Heros-Logo.png" alt="ヒーローズロゴ画像" />
    </a>
  </div>
  <nav>
    <ul class="header--nav nursing_homes--nav">
      <% if hero_signed_in? %>
        <li>
          <%= link_to jobs_path, class: "nav-item nav-link d-lg-inline-block style-text-black mr-lg-3" do%>
            <p><i class="fas fa-briefcase"></i>ミッション一覧</p>
          <% end %>
        </li>
        <li>
          <%= link_to hero_path(current_hero.id), class: "nav-item nav-link d-lg-inline-block style-text-black mr-lg-3" do%>
            <p><i class="fas fa-check"></i>やることリスト</p>
          <% end %>
        </li>
        <li>
          <%= link_to hero_path(current_hero.id), class: "nav-item nav-link d-lg-inline-block style-text-black mr-lg-3" do%>
            <p><i class="fas fa-bell"></i>お知らせ</p>
          <% end %>
        </li>
        <li>
          <%= link_to hero_path(current_hero.id), class: "nav-item nav-link d-lg-inline-block style-text-black" do%>
            <p><i class="fas fa-user"></i>マイページ</p>
          <% end %>
        </li>
      <% elsif nursing_home_signed_in? %>
        <li>
          <%= link_to new_job_path,class:"nav-item nav-link d-lg-inline-block style-text-black mr-lg-3"  do %>
            <p><i class="fas fa-users"></i>お仕事登録</p>
          <% end %>
        </li>
        <li>
          <%= link_to jobs_path, class: "nav-item nav-link d-lg-inline-block style-text-black" do%>
            <p><i class="fas fa-users"></i>お仕事一覧</p>
          <% end %>
        </li>
        <li>
          <%= link_to nursing_home_path(current_nursing_home.id), class: "nav-item nav-link d-lg-inline-block style-text-black" do%>
            <p><i class="fas fa-users"></i>管理画面</p>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_nursing_home_session_path, method: :delete, data: { confirm: "ログアウトしてよろしいですか？" }, id: "Destroy-btn-Show1", onclick: "LogoutFormHeros()" , class: "style-mypage-listitem" do %>
            ログアウト<i class="fas fa-chevron-right style-mypage-navicon"></i>
          <% end %>
        </li>
      <% end %>
  </nav>
</header>