<!--CSSのスタイルシートから持ってきているものはクラスにstyle-が入っている 基本的に初めがbootstrapのCSS 位置調整は1番右-->
<header class="style-header">
  <section class="container-fluid">
    <div class="row">
      <nav class="col-12 navbar navbar-expand-lg fixed-top style-nav style-shadow-rightblack" id="mainNav">
        <!--.navbar-brand はブランドを表示します。-->
          <%= link_to root_path, class: "navbar-brand" do %>
            <img class="" src="/assets/Heros-Logo.png" alt="ハロヒロロゴ画像" height="60px" width="200px">
          <% end %>
        <div class="navbar-nav style-midtext style-ma-rauto">
          <div class="d-none d-lg-block">
            <%= link_to  new_nursing_home_registration_path do %>
              <button class="style-topoffices-newmenbtn style-boder-smallradius">事業所新規登録</button>
            <% end %>
            <%= link_to  new_nursing_home_session_path do %>
              <button class="style-helper-toploginbtn style-boder-smallradius mr-3">事業所ログイン</button>
            <% end %>
            <%= link_to  heros_rules_path do %>
              <button class="style-helper-topnewmenbtn style-boder-smallradius">ヒーロー新規登録</button>
            <% end %>
            <%= link_to  new_hero_session_path do %>
              <button class="style-helper-toploginbtn style-boder-smallradius">ヒーローログイン</button>
            <% end %>
          </div>
          <div class="d-lg-none d-inline-block">
          <div class="d-lg-none d-block">
            <input type="checkbox" id="OpenSidebarMenu">
            <label for="OpenSidebarMenu" class="style-sidebarIcon" id="SidebarMenuLabel">
              メニュー
            </label>
            <div id="SidebarMenu">
              <ul class="style-sidebarMenuInner">
                <li><%= link_to "事業所新規登録", new_nursing_home_registration_path %></li>
                <li><%= link_to "事業所ログイン", new_nursing_home_session_path %></li>
                <li><%= link_to "ヒーロー新規登録", new_hero_registration_path %></li>
                <li><%= link_to "ヒーローログイン", new_hero_session_path %></li>
              </ul>
            </div>
          </div>
          </div>
        </div>
      </nav>
    </div>
  </section>
</header>